.bg {
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
  background-image: url(img/bg.jpg);
  min-height: 100vh;
}

.select {
  display: inline;
}

.btn-group .middle {
  border-radius: 0;
  border-right: 0;
}

.btn-group .first {
  border-radius: 6% 0 0 6%;
  border-right: 0;
}

.btn-group .last {
  border-radius: 0 6% 6% 0;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

form label, .label {
  font-size: 1.5em;
}

.bold {
  font-weight: bold;
}

.card-subtitle {
  font-size: 1.3em;
}

.card-title-section {
  margin-bottom: -1.2em;
}